
on:
  push:
    branches:
      - ID-3-crear-rama-ci-cd-integrar-ci-cd
  pull_request:
    branches:
      - ID-3-crear-rama-ci-cd-integrar-ci-cd
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: "11"
          distribution: 'temurin'
          cache: gradle
      - name: Change  wrapper permissions
        run: chmod  +x  ./gradlew
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
      - name: Build app
        run: ./gradlew assemble

